<div class="container mt-4">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          <h5>What is TodoList?</h5>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          ToDo List App is a kind of app that generally used to maintain our day-to-day tasks or list everything that we
          have to do, with the most important tasks at the top of the list, and the least important tasks at the bottom.
          It is helpful in planning our daily schedules. We can add more tasks at any time and delete a task that is
          completed.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
         <h5> Functionality of this App</h5>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
           This Todo App has a three section .First section will have the list of todo and second one is the InProgress part and third one is the completed part. When a user will add his task then it will be added to todo list, when his task is in progress then it can be dragged to the InProgress part and when the task of the user is completed then finally he will drag it to the Completed part. 
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h5>Browsers Compatibility</h5>
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
        This TodoList App works in any web browsers such as Chrome, Firefox, Internet Explorer, Safari, Opera.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <h5>About Author</h5>
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          This Todo App is created by me.My name is Atif Raza a software Engineer . I am interested in Frontend
            Development and also have a knowledge of ReactJS and Angular.
        </div>
      </div>
    </div>
  </div>
</div>